.idea/
bin/*
*.~lock.*
*.swp
*~
include/*.o
src/*.o
src/*.d
src/*/*.d
src/*/*.o
src/*.out
.cproject
.project
.settings/*
#*#
*/.#*#
*/#*#
*/*/.#*#
*/*/#*#
.#*
*/.#*
*/*/.#*
octrace.e*
octrace.o*
utils/testdata_2/*.txt
*.vtk
output/*.txt
output
tmp
phi_ASE.txt
N_rays.txt
expected_values.txt
run_octrace.m
paper/Makefile
paper/updatePDF.sh
paper/*.aux
paper/*.log
paper/*.dvi
paper/*.bbl
paper/*.blg
paper/*.bak
paper/*.out
paper/*.toc
paper/*.pdf
paper/*.bst
paper/*.eps
paper/*.spl
paper/*.~lock.*
paper/*/*.aux
paper/*/*.log
paper/*/*.dvi
paper/*/*.bbl
paper/*/*.blg
paper/*/*.bak
paper/*/*.out
paper/*/*.toc
paper/*/*.pdf
paper/*/*.bst
paper/*/*.eps
paper/*/*.spl
paper/*/*.~lock.*
utils/benchmark*/*.vtu
/calcPhiASE.m
/shared
utils/start_exp.sh
talk/*.aux
talk/*.log
talk/*.dvi
talk/*.bbl
talk/*.blg
talk/*.bak
talk/*.out
talk/*.toc
talk/*.pdf
talk/*.bst
talk/*.eps
talk/*.spl
talk/*.nav
talk/*.snm
talk/*.~lock.*
build/
cmake-build-debug/
*.__pycache__
example/example_c/bin/
*.__pycache__
