bin/*
*.~lock.*
*.swp
*~
include/*.o
src/*.o
src/*.d
src/*/*.d
src/*/*.o
src/*.out
.cproject
.project
.settings/*
#*#
*/.#*#
*/#*#
*/*/.#*#
*/*/#*#
.#*
*/.#*
*/*/.#*
octrace.e*
octrace.o*
utils/testdata_2/*.txt
utils/start_experiment.sh
*.vtk
