bin/*
*.~lock.*
*.swp
*~
include/*.o
src/*.o
src/*.d
src/*/*.d
src/*/*.o
src/*.out
.cproject
.project
.settings/*
#*#
*/.#*#
*/#*#
*/*/.#*#
*/*/#*#
.#*
*/.#*
*/*/.#*
octrace.e*
octrace.o*
utils/testdata_2/*.txt
*.vtk
output/*.txt
output
tmp
phi_ASE.txt
N_rays.txt
expected_values.txt
run_octrace.m
paper/Makefile
paper/updatePDF.sh
paper/*.aux
paper/*.log
paper/*.dvi
paper/*.bbl
paper/*.blg
paper/*.bak
paper/*.out
paper/*.toc
paper/*.pdf
paper/*.bst
paper/*.eps
paper/*.spl
paper/*.~lock.*
paper/*/*.aux
paper/*/*.log
paper/*/*.dvi
paper/*/*.bbl
paper/*/*.blg
paper/*/*.bak
paper/*/*.out
paper/*/*.toc
paper/*/*.pdf
paper/*/*.bst
paper/*/*.eps
paper/*/*.spl
paper/*/*.~lock.*
utils/benchmark*/*.vtu